Source: pyang
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 9~),
 dh-python,
 docbook-xsl,
 git-core,
 python3-all (>= 3.4),
 python3-setuptools,
 xsltproc
Standards-Version: 3.9.6

Package: pyang
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Extensible YANG validator and converter in python
 pyang is a YANG validator, transformator and code generator, written
 in python. It can be used to validate YANG modules for correctness,
 to transform YANG modules into other formats, and to generate code
 from the modules.
